.modal {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index:3;

    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    
  }



  

  .modal_content {
    background-color: blueviolet;
    justify-content: center;
    position: fixed;
    top: 25%; /* 25% from the top */
    left: 25%;
    width: 50%; /* 100% width */
    text-align: center;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px transparent black;
    z-index:4;
  }